*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    text-align: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
.start-screen,
.score-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}
#quiz-container {
    margin: 0 auto;
    width: 300px;
  }
  
  h1 {
    color: #333;
  }
  
  #options {
    text-align: left;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #status {
    margin-top: 20px;
    text-align: left;
  }
  
  #status p {
    margin-bottom: 5px;
  }
  
  #status span {
    font-weight: bold;
  }